<style>
    .field--error-plus-dynamic {
      border-color: {{ settings.checkout_error_color }} !important;
      -webkit-box-shadow: 0 0 0 1px {{ settings.checkout_error_color }} !important;
      box-shadow: 0 0 0 1px {{ settings.checkout_error_color }} !important;
    }
    @media only screen and (max-width: 425px) {
        .field__message--error-plus-dynamic {
          font-size: 0.8em;
      }
    }
    .field__message--error-plus-dynamic {
      display: block;
      color: {{ settings.checkout_error_color }};
    }
  </style>
  <script>
    (function($) {
      $(document).on('page:load page:change', function() {
        var $zipField;
        var errorClass = 'field--error-plus-dynamic';
        var errorMessageSelector = '.field__message--error-plus-dynamic';
        var validatePostCode = function(zipField) {
          var errorMessage = "{{ 'plus.checkout.postal_code_error' | t }}";
                    
          if (zipField.val().length === 0) {
            // Field is empty, show error
            if (!zipField.hasClass(errorClass)) {
              zipField.addClass(errorClass);
              zipField.closest('[data-address-field]').append("<p class='field__message field__message--error-plus-dynamic'>"+ errorMessage +"</p>");
            }
            return false;
          } else {
            // Postcode is present, remove error and continue.
            zipField.removeClass(errorClass);
            zipField.parent().nextAll(errorMessageSelector).remove();
            return true;
          }
        }
        // Form validation
        if (Shopify.Checkout.step === 'contact_information' || Shopify.Checkout.step === 'payment_method' ) {
          // Use the appropriate field labels depending on if we're looking at the shipping or billing address
          $zipField = Shopify.Checkout.step === 'contact_information'
            ? $('[name="checkout[shipping_address][zip]"]:not([aria-hidden="true"])')
            :  $('[name="checkout[billing_address][zip]"]:not([aria-hidden="true"])');
          // Check for enter keypress on form and click button instead.
          $('[data-step] form').on('keypress', function(e) {
            if (event.keyCode === 13) {
              e.preventDefault();
              $(this).find('[type="submit"]').trigger('click');
            }
          });
          // Handle form submit by validating button click.
          $('[data-step] form [type="submit"]').on('click', function(e) {
            e.preventDefault();
            if (validatePostCode($zipField)) {
              $('[data-step] form').trigger('submit');
            }
          });
          // Validate zip code when modified
          $zipField.on('input', function() {
            validatePostCode($(this));
          });
        }
      });
    })(Checkout.$);
  </script>   
